.headers {
  width: 100%;
  position: fixed;
  background-color: #0f3147;
  color: white;
}

header {
  font-size: 1.5em;
  text-align: center;
  margin-top: 0;
  margin-bottom: 5rem;
  border-bottom: 2px solid #048f7c;
  padding: 10px 0 10px;
  z-index: 1;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.logo {
  height: 53px;
  width: 105px;
  position: absolute;
  left: 5%;
  top: 0;
}

.dog-button {
  cursor: pointer;
  color: white;
  position: absolute;
  width: 120px;
  height: 30px;
  font-size: 0.5em;
  right: 5%;
  background-color: #28456e;
  border: 2px solid #048f7c;
}
.dog-button:hover {
  border: none;
}

footer {
  bottom: 0;
  left: 0;
  margin: 0;
  border: 2px solid #000000;
  border-top: 2px solid #048f7c;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 3px 0;
  font-size: .8em;
}
footer p {
  margin: 0.2em;
  padding: 0 15px 0 15px;
}
a {
  text-decoration: none;
  color: white;
}
a:hover {
  color: #79c9f7;
}
footer span {
  float: right;
}
.links {
  margin: 2em 0 0 15px;
}
