.button-container {
    display: flex;
    justify-content: space-around;
    margin: 0;
    flex-direction: column;
    width: 35%;
    max-width: 320px;
    padding: 10px;
    text-align: center;
    color: white;
}

button {
    height: 45px;
    width: 45px;
    margin: 2px;
    border: none;
    border-radius: 10px;
}

button:focus{
    outline: none;
    box-shadow: none;
}
button:active{
    outline: none;
    box-shadow: none;
}
.reset {
    width: 50px;
    background-color: rgb(12, 36, 46);
    color: white;
    border: 2px solid #1bd25b;
    border-radius: 50%;
}
.reset:hover {
    background-color: rgb(25, 75, 96);
}
.info {
    padding-top: 15px;
}

.up {
    background: url("./button_images/up.png");
    background-position: center;
    background-size: cover;
}
.down {
    background: url("./button_images/down.png");
    background-position: center;
    background-size: cover;
}
.left {
    background: url("./button_images/left.png");
    background-position: center;
    background-size: cover;
}
.right {
    background: url("./button_images/right.png");
    background-position: center;
    background-size: cover;
}
@media (max-width: 500px) {
    button {
        height: 35px;
        width: 35px;
        margin: 2px;
        border: none;
        border-radius: 10px;
    }
  }
  @media (max-width: 380px) {
    button {
        height: 20px;
        width: 20px;
        margin: 2px;
        border: none;
        border-radius: 10px;
    }
    .info{
        padding-top: 3px;
    }
    .reset {
        font-size: 8.5pt;
        border: 1px solid #1bd25b;
    }
  }